.fotos-hobbies{
    width: 75px;
    height: 75px;
    border-radius: 150px;
}
ul{
    list-style: none;
    margin-top: 50px;
    margin-right: 50px;
}
.añadir{
    border-radius: 150px solid black;
}
.hobbies{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-align: center;
}
.sub-icons{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.item-sub-icons{
    width: 30px;
    height: 30px;

}
.fotos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
    width: 100%;
}
.item-fotos{
    display:flex;
    margin:15px;
    flex-wrap: wrap;
    width: calc(33.3333% - 10px);
    img{
        max-width: 100%;
        height: auto;
        margin:10px;
        justify-content: center;
    }
}